@font-face {
  font-family: 'open-sans-regular';
  src: url(../../public/assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'open-sans-light';
  src: url(../../public/assets/fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: 'open-sans-medium';
  src: url(../../public/assets/fonts/OpenSans-Medium.ttf);
}

@font-face {
  font-family: 'open-sans-bold';
  src: url(../../public/assets/fonts/OpenSans-Bold.ttf);
}