.active {
    background-color: #ffffff;
    color: #000000 !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.inactive {
    // border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}