$theme_white: #FFFFFF;
$theme_light_gray: #e0e0e0;
$theme_dark: #000000;
$theme_light_dark: #6c757d;
$theme_red: #dc3545;
$theme_green: #17bc24;
// $theme_light_red: #f1848f;
$theme_light_red: #de5764;